* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw
}

body {
  background: url('./bg_image.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
}
